// Font imports
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap');

// Color setup
/* Primary Color*/ 
$pink:hsl(322, 100%, 66%);
/* Neutral Color*/ 
$pale-cyan:hsl(193, 100%, 96%);
$dark-cyan:hsl(192, 100%, 9%);
$grayish-blue:hsl(208, 11%, 55%);


/* Typography Setup*/
$smaller-fs:.875rem;
$small-fs:1rem; 
$normal-fs:1.125rem; 
$big-fs:1.5rem; 
$bigger-fs:2rem;


$normal-fw:400;
$header-fw:700;

$normal-ff:'Open Sans', sans-serif;
$header-ff:'Poppins', sans-serif;

$--btn-padding: 0.75em 2em;

/*Resets */
*,*::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} 

body {
    font-size: $normal-fs;
    font-family: $normal-ff;
    font-weight: $normal-fw;
    color:$grayish-blue;
    line-height: 1.5;
}

ul {
    list-style: none;

}
a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

img {
    max-width: 100%;
    object-fit: contain;
}

section {
    margin: 2rem 0;
}

.container {
    width: 90%;
    margin: 0 auto;
    max-width: 59.375rem;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.title {
    line-height: 1.1;
    color: $dark-cyan;
    font-family: $header-ff;
    font-weight: $header-fw;
    font-size: $big-fs;
    margin-bottom: 1.25rem;
}

.btn {
    padding: $--btn-padding;
    border-radius: 100px;
    font-weight: $header-fw;
    background-color: $pink;
    color: #fff;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, .4);
}

.btn--cta {
    color: $dark-cyan;
    background-color: #fff;
    font-size: $small-fs;
    padding: .5em 1em;
}

.flex--text{
    display: flex;
    align-items: baseline;
    gap: 1rem;
}