/* font import */
@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@200;700&display=swap');
/* default settings reset */

*, *::before, *::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    /* debugging */

    /* outline: dotted 1px magenta; */
}

/* body styles */
body{
    font-size: 18px;
    font-family: 'Epilogue', sans-serif;
    color: hsl(0, 0%, 41%);
}

/* container and utill classes styles*/

/* .container{
   
    max-width: 90rem;
    width: 90%;
    margin: auto;
} */

/* title */
.title{
    font-weight: 700;
    color: hsl(0, 0%, 8%);
}

/* responsive images */
img{
    /* 
        take the width of the whole container but 
        not exceeding its max width
    */
    width: 100%;
    max-width: 100%;
}

/* button */

button{
    border: none;
    background-color: transparent;
    cursor: pointer;
}

/* anchor tag reset */

a{
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

ul{
    list-style: none;
}

/* icons width */

.icon{
    width: 20px;
}

/* logo styles */

.logo{
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.desktop--img{
    display: none;
}

/* ======================================= */

.nav{
    display: flex;
    padding: 1rem;
    align-items: center;
    justify-content: space-between;
}
.overlay{
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    z-index: 10;
    background-color: hsl(0, 0%, 8%);
    opacity: 0.5;
}

.open--overlay{
    display: block;
}

.nav--bar{
    padding: 5rem 1rem 1rem 1rem;
    position: fixed;
    z-index: 100;
    top: 0;
    right: 100%;
    width: 60vw;
    height: 100vh;
    background-color: hsl(0, 0%, 98%);
    color: hsl(0, 0%, 8%);

    /* display */
    display: flex;
    flex-direction: column;
    gap: 1rem;

    
}

.open--menu{
    right: 0;
}

.nav--link{
    margin: 1rem 0;
}

.nav--close{
    position: absolute;
    width: 20px;
    top: 2rem;
    right: 2rem;
}

.cta{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.cta--btn{
    border: 1px solid hsl(0, 0%, 8%);
    border-radius: 10px;
    padding: 1rem 2rem;
}

.popup{
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.dropdown--link{
    display: inline-flex;
    align-items: center;
    gap: 1rem;
}

.hide--popup{
    display: none;
}
.popup--item{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.hide--arrow{
    display: none;
}

.hero {
    display: flex;
    flex-direction: column;
}

.hero--content{
    text-align: center;
    order: 1;
}

.hero--text{
    margin: 1rem 0;
    padding: 0 1rem;
}

.hero--btn{
    padding: 0.8rem 1.5rem;
    border-radius: 10px;
    background-color: hsl(0, 0%, 8%);
    color: hsl(0, 0%, 98%);
    font-weight: 700;
}

.hero--img{
    order: 0;
    margin-bottom: 2rem;
}

.clients{
    margin: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    order: 2;
}
.client--img{
    width: 70px;
}

